@font-face {
    font-family: info;
    src: url(fonts/Federo-Regular.ttf);
}
body{
    background-color: #ffecd1;
}
.banner{
    background-image: url(images/Louvre-Museum.avif);
    padding: 100px;
    background-size: cover;
}
.banner h1{
    text-align: center;
    color: #F0EBD8;
    font-size: 3vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: info;
    
}
.banner h3{
    text-align: center;
    color: #F0EBD8;
    font-size: 2vw;  
    background-color: rgba(0, 0, 0, 0.5);
    font-family: info;
}
.exhibitions{
    display: grid;
    padding-left: 70px;
    padding-right: 70px;
}
.exhibitions h1{
    font-size: 3vw;
    text-align: center;
    font-family: info;
    font-style: italic;
    text-shadow: 6px 6px 6px black;
    color: #5c2a09;
}
.china{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 2vw;
    padding-right: 3vw;
}
.china img{
    border-radius: 30px;
}
.china img:hover{
    box-shadow: 8px 8px 8px black;
}
.info{
    display: flex;
    flex-direction: row;
    gap: 20vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.info div{
    text-align: center;
    color: #5c2a09;
    font-family: info;
}